# Description: Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

In [1]:
input_list=['SAS','R','PYTHON','SPSS']
input_list.pop()
input_list.append('SPARK')

In [2]:
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

# Description: Convert a string input_str = 'I love Data Science & Python' to a list by splitting it on ‘&’. The sample output for this string will be:

In [3]:
input_str='I love Data Structure & Python'
input_str.split('&')

['I love Data Structure ', ' Python']

# Description: Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:

In [5]:
input_list=['Python syntax is easy to learn','Pythons syntax is very clear']
" & ".join(input_list)

'Python syntax is easy to learn & Pythons syntax is very clear'

# Description: Extract Python from a nested list input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [6]:
input_list=[['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

'Python'

# Description: t = ("disco", 12, 4.5) What is the output of: t[0][2]

In [7]:
t=("disco",12,4.5)
t[0][2]

's'

# Description: Write a program to check whether a string is a palindrome or not. Print 1 if the string is a palindrome and 0 otherwise.

In [28]:
def palindrome(input):
    reverse=reversed(input)
    if list(reverse)==list(input):
        return 1
    else:
        return 0

In [32]:
palindrome("rara")

0

In [33]:
palindrome("121")

1

# Description: You will be given a sentence in the form of a string. You have to reverse the order of the words in the sentence. Remember not to reverse the individual words, but the order of words. Check the sample input-output for further clarification.

In [40]:
string="My Name is deepanshu"
list_string=string.split(" ")
print(list_string[::-1])

['deepanshu', 'is', 'Name', 'My']

# Description: Write a program that satisfies below examples
# Input 1: caloRie ConsuMed
# Output 1: calorie_consumed
# Input 2: data science
# Output 2: data_science
# Input 3: datascience
# Output 3: datascience

In [48]:
def joinByUnderScore(string):
    t=string.lower()
    j=t.split(" ")
    final_string="_".join(j)
    return final_string

In [49]:
joinByUnderScore("data science")

'data_science'

In [50]:
joinByUnderScore("caloRie ConsuMed")

'calorie_consumed'

# Multiple Choice Question

In [51]:
S="I Love Python"
S[2:6]# option B is correct

'Love'

In [52]:
3*3**3 # so option C is correct

81

In [53]:
((500//7) % 5) ** 3 # so Option A is correct

1

In [54]:
T = (3, 5, 7, 11)
T.append(9)# so option D is correct

AttributeError: 'tuple' object has no attribute 'append'

In [55]:
l=[32,34,12,27,33]
l.append((14,19))

In [56]:
l

[32, 34, 12, 27, 33, (14, 19)]

In [58]:
len(l) # So option B is correct

6

In [59]:
# Question 7

# C

In [61]:
D={
    1:['Raj',22],
    2:['Simran',21],
    3:['Rahul',40],
    
}
for i in D:  # so Option A is correct
    print(i)

1
2
3

In [75]:
paragraph='''This forest is called a Tropical Rainforest, and it has been named rainforest because it receives 100 inches of rain annually. Under tropical forest cover, a wide range of species thrives compared to other forest ecosystems. This forest type can be located at 23.5 degrees North and 23.5 degrees south. The temperature hovers around 68 degrees and 77 degrees Fahrenheit. Massive rainfall has resulted in the bad quality of soil, eroded soil, and taken key minerals from the soil. Due to massive rainfall, the leaching of soil is visible. Broad-leafed trees dominate the tropical forest, and the height of trees could be 82-115 feet. The sunlight is not able to reach the ground floor due to the dense canopy. The tropical forest houses a wide range of species like amphibians, reptiles, mammals, and birds. Tropical Forest is also classified into various parts'''

In [87]:
paragraph.split(".")

['This forest is called a Tropical Rainforest, and it has been named rainforest because it receives 100 inches of rain annually',
 ' Under tropical forest cover, a wide range of species thrives compared to other forest ecosystems',
 ' This forest type can be located at 23',
 '5 degrees North and 23',
 '5 degrees south',
 ' The temperature hovers around 68 degrees and 77 degrees Fahrenheit',
 ' Massive rainfall has resulted in the bad quality of soil, eroded soil, and taken key minerals from the soil',
 ' Due to massive rainfall, the leaching of soil is visible',
 ' Broad-leafed trees dominate the tropical forest, and the height of trees could be 82-115 feet',
 ' The sunlight is not able to reach the ground floor due to the dense canopy',
 ' The tropical forest houses a wide range of species like amphibians, reptiles, mammals, and birds',
 ' Tropical Forest is also classified into various parts']

In [94]:
print(list(range(10,1,-1))) # Option D is correct

[10, 9, 8, 7, 6, 5, 4, 3, 2]